<nav>
  <div class="nav-wrapper">
    <a href="/" class=""><%= image_tag '/logo-white.png', class: 'nav-logo' %></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to raw('ENTRAR'), new_user_session_path, class: 'btn-entrar' %></li>
      <li><%= link_to raw('CRIAR CONTA'), new_user_registration_path %></li>
    </ul>
  </div>
</nav>
