<div class="col m12">

  <h3 class="center-align" style="margin-top:17%">Inove no Amigo Secreto!</h3>

  <h5 class="center-align">Apenas com o email dos participantes você inicia a brincadeira.</h5>

  <h5 class="center-align text-primary">Rápido e Fácil!</h5>

  <div class="actions center-align" style="margin-top:2%">
    <a href="#" class="btn">CRIAR AMIGO SECRETO</a>
  </div>

</div>
