<p>AMIGO SECRETO</p></br></br>

<p><%= @campaign.title %></p></br>

<p>Olá <%= @campaign.user.email %>, ocorreu um erro no sorteio da campanha <strong><%= @campaign.title %></strong>.</p></br>

<p>Entre em contato com o suporte !</p></br></br>

<p>Um Projeto da equipe <a href='http://www.nazusoft.com.br'>NazuSoft</a></p>
