<div class="row campaigns">
  <div class="col s8 offset-s2">
    <h5 class="title center green-text">CAMPANHAS</h5>
  </div>

  <% if @campaigns.empty? %>
    <div class="col s8 offset-s2">
      <p class="title">Não há Campanhas criadas.</p>
    </div>
  <% end %>

  <%= render partial: 'shared/campaigns_list' %>

  <div class="fixed-action-btn campaigns-btn">
    <%= form_tag("/campaigns", method: "post") do %>
      <button class="btn-floating btn-large red pulse" type="submit">
        <i class="large material-icons">add</i>
      </button>
    <% end %>
  </div>
</div>
