@import "materialize";
@import "material_icons";
@import "variables";
@import "nav_bar";

.btn:hover{ color: $white !important; }

a{ color: $secondary-color !important; }

a:hover{ color: $secondary-color-light !important; }

.btn{ color: $white !important; }

.btn:hover{ background-color: $secondary-color-light !important; }

.container{ min-height: 530px; }

.section{ padding: 0px !important; }

.card-panel{ margin: 0px !important; }

.nav-logo{
  position: relative;
  height: 15px;
  width: auto;
  margin-left: 20px;
}

.alert{
  h6{
    margin: 0px !important;
  }

  .btn-flat{
    line-height: 20px;
    height: auto;
    padding: 0px;
  }
}

.m-0{ margin:0px !important; }

.ml-0{ margin-left:0px !important; }

.mt-0{ margin-top:0px !important; }

.mr-0{ margin-right:0px !important; }

.mb-0{ margin-bottom:0px !important; }

.p-0{ padding:0px !important; }

.pl-0{ padding-left:0px !important; }

.pt-0{ padding-top:0px !important; }

.pr-0{ padding-right:0px !important; }

.pb-0{ padding-bottom:0px !important; }
