nav, .btn, .bg-primary{ background-color: $primary-color !important; }

nav{
  line-height: 0px !important;
  padding-top: 1.8%;

  a{
    height: 20px;
    line-height: 16px !important;
  }
}

.text-primary{ color: $primary-color !important; }

nav a{ color: $white !important; }

nav a:hover{
  color: $secondary-color !important;
  background-color: $primary-color !important;
}

nav .btn-entrar{ border-right: solid 1px $white; }
