<p><%= @email %> bem vindo ao Amigo Secrecto !</p>

<p>Obrigado por criar sua conta conosco.</p>

<p>Confirme seu cadastro clicando no link abaixo:</p>

<p><%= link_to 'Clique aqui para confirmar a conta !!', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Boa diversão!!</p>

<p>Equipe Amigo Secreto</p>
